openapi: 3.1.0
info:
  title: Branch Pilot API
  version: "1.0"
  summary: The AI decision layer for workflows.
  description: |
    One endpoint per decision. Send the input your decision expects, get a typed answer with
    calibrated probabilities, a confidence and the engine that produced it.

    Personal data in declared PII fields (and detected in free text) is pseudonymized before
    any model call; only the pseudonymized input is logged.
  contact:
    email: hello@branchpilot.ai
  termsOfService: https://branchpilot.ai/terms
servers:
  - url: https://api.branchpilot.ai/v1
    description: Production
security:
  - apiKey: []
tags:
  - name: Decide
  - name: Runs
  - name: Decisions
  - name: Templates
paths:
  /decide/{slug}:
    post:
      operationId: decide
      tags: [Decide]
      summary: Make a decision
      description: Runs the live version of the decision (or `options.version`) on `input`.
      parameters:
        - $ref: "#/components/parameters/slug"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecideRequest"
            examples:
              route:
                value:
                  input:
                    email: anna@acme.com
                    message: Could we get a quote for 40 seats?
      responses:
        "200":
          description: The decision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecideResponse"
              examples:
                route:
                  value:
                    run_id: 3f0b2c1e-6c1d-4a1e-9f3a-8a1b2c3d4e5f
                    decision: lead-routing
                    version: 3
                    status: ok
                    choice: sales
                    probabilities: { sales: 0.87, support: 0.09, spam: 0.04 }
                    confidence: 0.87
                    confidence_source: calibrated
                    engine: jev
                    model: jev-1.13.0
                    latency_ms: 212
                    pii_redacted: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: The decision has no published version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: Body larger than 128 KB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Monthly quota reached. `Retry-After` gives the seconds until the next period.
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: No engine could answer; `details` lists the attempts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /runs/{run_id}:
    get:
      operationId: getRun
      tags: [Runs]
      summary: Get a run
      description: |
        Status and result of a run. Use it to follow a `pending` run sent to the human review queue:
        once a human has picked, `status` becomes `resolved` and `choice` carries the human choice.
      parameters:
        - $ref: "#/components/parameters/runId"
      responses:
        "200":
          description: The run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /runs/{run_id}/feedback:
    post:
      operationId: setRunFeedback
      tags: [Runs]
      summary: Send feedback on a run
      parameters:
        - $ref: "#/components/parameters/runId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedback]
              properties:
                feedback:
                  type: [string, "null"]
                  enum: [good, bad, null]
                  description: "`null` clears the feedback."
                note:
                  type: string
                  maxLength: 1000
      responses:
        "200":
          description: Feedback recorded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id: { type: string, format: uuid }
                  feedback: { type: [string, "null"], enum: [good, bad, null] }
                  note: { type: [string, "null"] }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /decisions:
    get:
      operationId: listDecisions
      tags: [Decisions]
      summary: List decisions
      description: The decisions of the account, for connectors that let users pick one.
      responses:
        "200":
          description: The decisions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  decisions:
                    type: array
                    items:
                      $ref: "#/components/schemas/DecisionSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createDecision
      tags: [Decisions]
      summary: Create a decision
      description: |
        Creates a decision and publishes its version 1, from one of three shapes told apart by the
        fields present: a catalogue template (`template`), a one-sentence description drafted by the
        LLM (`describe`), or an explicit definition (`name`, `type`, `instructions` and the
        `options` / `levels` / `labels`).

        Idempotent on the slug (given, or derived from the name): when the decision already exists it
        is returned untouched with `created: false`. A connector configuration therefore always maps
        to the same decision, created on the first run, and the app stays the source of truth.

        When the plan's live-decision limit is reached, the decision is created as a draft:
        `status` is `draft`, `publish_error` is `plan_limit` and `message` says what to do.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDecisionRequest"
            examples:
              template:
                summary: From a template
                value: { template: lead-routing, name: Lead routing EU }
              describe:
                summary: Drafted from a description
                value: { describe: "Route inbound emails to sales, support or spam.", name: Email routing }
              definition:
                summary: Explicit definition
                value:
                  name: Ticket triage
                  type: route
                  instructions: Which team should handle this ticket?
                  context:
                    description: A support ticket
                    fields:
                      - { name: subject, type: string, required: true }
                      - { name: body, type: string, required: true }
                      - { name: email, type: string, required: false, pii: true }
                  options:
                    - { key: billing, description: The customer asks about an invoice, a payment or a refund. }
                    - { key: technical, description: The customer reports a bug or an error. }
                    - { key: other, description: Anything else. }
      responses:
        "201":
          description: The decision was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDecisionResponse"
        "200":
          description: A decision with this slug already existed and is returned as is.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDecisionResponse"
        "400":
          description: Invalid JSON, or invalid definition (`details` lists the problems).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Unknown template.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: The LLM could not draft a valid definition from the description (`generation_failed`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit of the key reached (`Retry-After` header).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: The LLM did not answer (`generation_failed`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Decision generation is not configured on this environment (`generation_unavailable`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /decisions/{slug}:
    get:
      operationId: getDecision
      tags: [Decisions]
      summary: Get a decision
      description: Type, declared context fields and options of the live version — what a connector needs to build dynamic fields.
      parameters:
        - $ref: "#/components/parameters/slug"
      responses:
        "200":
          description: The decision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /templates:
    get:
      operationId: listTemplates
      tags: [Templates]
      summary: List templates
      description: The catalogue of ready-made decisions, for connectors and for `POST /decisions`.
      parameters:
        - $ref: "#/components/parameters/locale"
      responses:
        "200":
          description: The templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  locale: { type: string, enum: [en, fr] }
                  templates:
                    type: array
                    items:
                      $ref: "#/components/schemas/TemplateSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /templates/{key}:
    get:
      operationId: getTemplate
      tags: [Templates]
      summary: Get a template
      description: Declared context fields, question and options of a template — what a connector needs to build dynamic fields before the decision exists.
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
            example: lead-routing
        - $ref: "#/components/parameters/locale"
      responses:
        "200":
          description: The template.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: An API key created in Settings → API keys (`bp_live_…` or `bp_test_…`).
  parameters:
    slug:
      name: slug
      in: path
      required: true
      description: Slug of the decision, as shown in the app.
      schema:
        type: string
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
        example: lead-routing
    locale:
      name: locale
      in: query
      required: false
      description: Locale of the template texts.
      schema:
        type: string
        enum: [en, fr]
        default: en
    runId:
      name: run_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Invalid JSON, or input does not match the declared fields.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing, invalid or revoked API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Unknown resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    DecideRequest:
      type: object
      required: [input]
      properties:
        input:
          description: The payload to decide on. A JSON object matching the declared fields, or free text.
          oneOf:
            - type: object
            - type: string
            - type: array
        options:
          type: object
          properties:
            version:
              type: integer
              minimum: 1
              description: Run this version instead of the live one.
            engine:
              type: string
              enum: [jev, llm]
              description: Force an engine for this call.
    DecideResponse:
      type: object
      required: [run_id, decision, version, status, probabilities, confidence, engine, model, latency_ms, pii_redacted]
      properties:
        run_id:
          type: string
          format: uuid
        decision:
          type: string
        version:
          type: integer
        status:
          type: string
          enum: [ok, uncertain, pending]
          description: "`uncertain`: confidence below the decision threshold. `pending`: sent to the human review queue."
        choice:
          type: string
          description: Route decisions. `__uncertain__` when status is `uncertain`.
        score:
          type: number
          minimum: 0
          maximum: 100
          description: Score decisions, remapped to 0–100.
        raw_score:
          type: number
          description: Score decisions, weighted position on the 0..N-1 level scale.
        legend:
          type: object
          additionalProperties:
            type: string
          description: Score decisions, level index → label.
        labels:
          type: array
          items:
            type: string
          description: Classify decisions, labels whose probability reached their threshold.
        probabilities:
          type: object
          additionalProperties:
            type: number
        confidence:
          type: number
          minimum: 0
          maximum: 1
        confidence_source:
          type: string
          enum: [calibrated, self_reported]
        engine:
          type: string
          enum: [jev, llm_fallback]
        model:
          type: string
        latency_ms:
          type: integer
        pii_redacted:
          type: integer
          description: Number of personal-data substitutions performed before the model call.
        fallback_reason:
          type: string
          description: Present when the LLM fallback answered; why the primary engine did not.
        review_url:
          type: string
          format: uri
          description: Present when status is `pending`.
    Run:
      allOf:
        - $ref: "#/components/schemas/DecideResponse"
        - type: object
          properties:
            status:
              type: string
              enum: [ok, uncertain, pending, resolved, error]
            resolved_by_human:
              type: boolean
              description: Present when a human resolved the run in the review queue.
            feedback:
              type: [string, "null"]
              enum: [good, bad, null]
            error_code:
              type: string
              description: Present when status is `error`.
            created_at:
              type: string
              format: date-time
    DecisionSummary:
      type: object
      properties:
        slug: { type: string }
        name: { type: string }
        description: { type: string }
        type: { type: string, enum: [route, score, classify] }
        live_version: { type: [integer, "null"] }
        updated_at: { type: string, format: date-time }
    DecisionDetail:
      allOf:
        - $ref: "#/components/schemas/DecisionSummary"
        - type: object
          properties:
            confidence_threshold: { type: number }
            uncertainty_policy: { type: string, enum: [uncertain_branch, human_review] }
            context:
              type: [object, "null"]
              properties:
                description: { type: string }
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      type: { type: string, enum: [string, number, boolean, object, array] }
                      required: { type: boolean }
                      pii: { type: boolean }
                example: {}
            instructions: { type: [string, "null"] }
            options:
              type: array
              items: { type: string }
              description: Route decisions — option keys.
            levels:
              type: array
              items: { type: string }
              description: Score decisions — level labels, lowest first.
            labels:
              type: array
              items: { type: string }
              description: Classify decisions — label keys.
    DefinitionItem:
      description: An option, a level or a label. A plain string is both the key and the description.
      oneOf:
        - type: string
        - type: object
          properties:
            key: { type: string, description: "Identifier, normalized when needed (\"Sales team\" → sales-team). Levels use `label` instead." }
            label: { type: string, description: Levels — short human name. }
            description: { type: string, description: One sentence saying when the item applies. }
            threshold: { type: number, description: Labels — probability above which the label is retained (default 0.5). }
    CreateDecisionRequest:
      type: object
      description: One of three shapes, told apart by the fields present — `template`, `describe`, or a definition.
      properties:
        name:
          type: string
          maxLength: 120
          description: Required with a definition. Optional with a template (its name by default) or a description (drafted otherwise). The slug is derived from it, so the same name always maps to the same decision.
        slug:
          type: string
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          maxLength: 64
          description: Explicit identifier; derived from the name by default.
        description:
          type: string
        publish:
          type: boolean
          default: true
          description: Publish version 1 right away.
        template:
          type: string
          description: Key of a catalogue template (see `GET /templates`).
        locale:
          type: string
          enum: [en, fr]
          default: en
          description: Locale of the template.
        describe:
          type: string
          maxLength: 2000
          description: What the decision should do, in plain words. The options and the question are drafted by the LLM in the language of the description; `type` may be imposed.
        type:
          type: string
          enum: [route, score, classify]
          description: Required with a definition, optional with `describe`.
        instructions:
          type: string
          description: Definition — the closed question asked about the input.
        context:
          type: object
          description: Definition — what the input contains and, optionally, its declared fields.
          properties:
            description: { type: string }
            fields:
              type: array
              items:
                type: object
                required: [name]
                properties:
                  name: { type: string }
                  type: { type: string, enum: [string, number, boolean, object, array], default: string }
                  required: { type: boolean, default: false }
                  pii: { type: boolean, default: false, description: Replaced by a token before any model call. }
                  description: { type: string }
        options:
          type: array
          items: { $ref: "#/components/schemas/DefinitionItem" }
          description: Route decisions — 2 to 255 options. Also accepted as one comma- or line-separated string.
        levels:
          type: array
          items: { $ref: "#/components/schemas/DefinitionItem" }
          description: Score decisions — 2 to 10 levels, lowest first.
        labels:
          type: array
          items: { $ref: "#/components/schemas/DefinitionItem" }
          description: Classify decisions — 1 to 50 labels.
    CreateDecisionResponse:
      type: object
      required: [slug, name, type, created, status, live_version, url]
      properties:
        slug: { type: string }
        name: { type: string }
        type: { type: string, enum: [route, score, classify] }
        description: { type: string }
        created:
          type: boolean
          description: "`false` when a decision with this slug already existed and is returned untouched."
        status:
          type: string
          enum: [live, draft]
        live_version: { type: [integer, "null"] }
        url:
          type: string
          format: uri
          description: The decision in the app.
        options:
          type: array
          items: { type: string }
          description: Route decisions — option keys.
        levels:
          type: array
          items: { type: string }
          description: Score decisions — level labels, lowest first.
        labels:
          type: array
          items: { type: string }
          description: Classify decisions — label keys.
        publish_error:
          type: string
          enum: [plan_limit]
          description: Present when version 1 could not be published.
        message:
          type: string
          description: Present when the decision is not live — what to do next.
        upgrade_url:
          type: string
          format: uri
    TemplateSummary:
      type: object
      properties:
        key: { type: string }
        type: { type: string, enum: [route, score, classify] }
        name: { type: string }
        description: { type: string }
        use_case: { type: string }
        featured: { type: boolean }
        options:
          type: array
          items: { type: string }
        levels:
          type: array
          items: { type: string }
        labels:
          type: array
          items: { type: string }
    TemplateDetail:
      allOf:
        - $ref: "#/components/schemas/TemplateSummary"
        - type: object
          properties:
            context:
              type: [object, "null"]
              properties:
                description: { type: string }
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      type: { type: string, enum: [string, number, boolean, object, array] }
                      required: { type: boolean }
                      pii: { type: boolean }
                      description: { type: string }
                example: {}
            instructions: { type: string }
            test_cases:
              type: integer
              description: Number of test cases cloned with the template.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
